* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul, ol {
    list-style: none;
}

.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

#canvas {
    display: block;
    /* 解决浏览器下拉刷新无法画问题 */
    position: fixed;
    top: 0;
    left: 0;
}

#actions {
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 16px;
}
#actions .icon {
    margin: 0 8px;
    width: 2em;
    height: 2em;
    transition: all 0.3s;
}

#actions .icon.active {
    fill: purple;
    transform: scale(1.2)
}

.colors {
    position: fixed;
    top: 60px;
    left: 23px;
}
.colors > .color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    margin: 12px 0;
    transition: all 0.3s;
}
.colors > .color.active {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.9);
    transform: scale(1.2)
}

.sizes {
    position: fixed;
    right: 20px;
    top: 10px;
}
.sizes > .size {
    height: 0;
    width: 20px;
    margin: 15px 0;
    
}
.sizes > .thin {
    border-top: 3px solid black
}
.sizes > .thick {
    border-top: 10px solid black
}